<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.georsoft.system.mapper.SysRoleOrgMapper">

	<resultMap type="orgCode" id="SysRoleOrgResult">
		<result property="roleId"     column="role_id"      />
		<result property="orgCode" column="org_code"/>
	</resultMap>

	<delete id="deleteRoleOrgByRoleId" parameterType="Long">
		delete from sys_role_dept where role_id=#{roleId}
	</delete>
	
	<select id="selectCountRoleOrgByOrgCode" resultType="Integer">
	    select count(1) from sys_role_dept where org_code=#{orgCode}
	</select>
	
	<delete id="deleteRoleOrg" parameterType="Long">
 		delete from sys_role_dept where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleOrg">
		insert into sys_role_dept(role_id, org_code) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.orgCode})
		</foreach>
	</insert>
	
</mapper> 