<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.georsoft.system.mapper.UsrRoleFunctionMapper">

	<resultMap type="UsrRoleFunction" id="SysRoleFunctionResult">
		<result property="roleCode"     column="role_code"      />
		<result property="functionCode"     column="function_code"      />
	</resultMap>
	
	<select id="checkFunctionExistRole" resultType="Integer">
	    select count(1) from usr_role_function where function_code = #{functionCode}
	</select>

	<delete id="deleteRoleFunctionByRoleCode" parameterType="String">
		delete from usr_role_function where role_code=#{roleCode}
	</delete>
	
	<delete id="deleteRoleFunction" parameterType="String">
 		delete from usr_role_function where role_code in
 		<foreach collection="array" item="roleCode" open="(" separator="," close=")">
 			#{roleCode}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleFunction">
		insert into usr_role_function(role_code, function_code) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleCode},#{item.functionCode})
		</foreach>
	</insert>
	
</mapper> 