<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.georsoft.system.mapper.UsrRoleOrgMapper">

	<resultMap type="orgCode" id="SysRoleOrgResult">
		<result property="roleCode"     column="role_code"      />
		<result property="orgCode" column="org_code"/>
	</resultMap>

	<delete id="deleteRoleOrgByRoleCode" parameterType="Long">
		delete from usr_role_org where role_code=#{roleCode}
	</delete>

	<select id="selectCountRoleOrgByOrgCode" resultType="Integer">
	    select count(1) from usr_role_org where org_code=#{orgCode}
	</select>

	<delete id="deleteRoleOrg" parameterType="Long">
 		delete from usr_role_org where role_code in
 		<foreach collection="array" item="roleCode" open="(" separator="," close=")">
 			#{roleCode}
        </foreach>
 	</delete>

	<insert id="batchRoleOrg">
		insert into usr_role_org(role_code, org_code) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleCode},#{item.orgCode})
		</foreach>
	</insert>
	
</mapper> 