<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.georsoft.business.mapper.DictMapper">

    <resultMap type="com.georsoft.business.entity.PO.DataDictPO" id="DataDictResult">
        <id     property="id"      column="ID"      />
        <result property="dictType"    column="DICT_TYPE"    />
        <result property="dictCode"     column="DICT_CODE"     />
        <result property="dictName"   column="DICT_NAME"   />
        <result property="viewIndex"    column="VIEW_INDEX"    />
        <result property="remark"      column="REMARK"      />
        <result property="stopFlag"      column="STOP_FLAG"      />
        <result property="enableDate"     column="ENABLE_DATE"      />
        <result property="expireDate"     column="EXPIRE_DATE"      />
        <result property="relDictCode"     column="REL_DICT_CODE"      />
    </resultMap>

    <!-- 查询产品列表 -->
    <select id="selectDictDataList" parameterType="String" resultMap="DataDictResult">
        SELECT
            a.id,
            a.DICT_TYPE,
            a.DICT_CODE,
            a.DICT_NAME,
            a.VIEW_INDEX,
            a.REMARK,
            a.ENABLE_DATE,
            a.EXPIRE_DATE,
            a.STOP_FLAG,
            a.REL_DICT_CODE
        FROM
            sys_data_dict a
                LEFT JOIN sys_data_dict_type b ON a.DICT_TYPE = b.DICT_CODE
        WHERE
            b.DICT_NAME = #{dictDataTypeName};
    </select>
</mapper>