<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.georsoft.business.mapper.OrgMapper">

    <resultMap type="com.georsoft.common.core.domain.entity.UsrOrg" id="OrgInfoResult">
        <id     property="orgCode"      column="org_code"      />
        <result property="parentOrgCode"    column="parent_org_code"    />
        <result property="ancestors"     column="ancestors"     />
        <result property="orgName"   column="org_name"   />
        <result property="viewIndex"    column="view_index"    />
        <result property="abbName"      column="abb_name"      />
        <result property="orgPhone"      column="org_phone"      />
        <result property="orgAddress"     column="org_address"      />
        <result property="orgStatus"     column="org_status"      />
    </resultMap>

    <resultMap type="com.georsoft.business.entity.PO.CustomerReportPO" id="CustomerReportResult">
        <id     property="orgCode"      column="org_code"      />
        <result property="userId"    column="user_id"    />
        <result property="imageCount"     column="image_count"     />
    </resultMap>

    <resultMap type="com.georsoft.business.entity.PO.OrgReportPO" id="OrgReportResult">
        <id     property="orgCode"      column="org_code"      />
        <result property="imageCount"     column="image_count"     />
    </resultMap>

    <!-- 查询产品列表 -->
    <select id="qryCurrentAndSubOrg" parameterType="String" resultMap="OrgInfoResult">
        WITH RECURSIVE parent_hierarchy AS (
            select org_code, parent_org_code
            from usr_org
            where org_code = #{orgCode}
            union all
            select i.org_code, i.parent_org_code
            from usr_org i
                     join parent_hierarchy ph on i.org_code = ph.parent_org_code
        )

        SELECT
            d.org_code,
            d.parent_org_code,
            group_concat(distinct ph.parent_org_code order by ph.parent_org_code separator ',') as ancestors,
            d.org_name,
            d.view_index,
            d.abb_name,
            d.org_phone,
            d.org_address,
            d.org_status
        FROM
            usr_org d left join parent_hierarchy ph on d.org_code = ph.org_code
        WHERE
            d.org_code = #{orgCode}
           OR d.parent_org_code = #{orgCode}
        GROUP BY
            d.org_code,
            d.parent_org_code,
            d.org_name,
            d.view_index,
            d.abb_name,
            d.org_phone,
            d.org_address,
            d.org_status
    </select>

    <!-- 查询用户双录报表 -->
    <select id="qryCustomerReport" resultMap="CustomerReportResult">
        SELECT
        b.org_code,
        b.user_id,
        b.image_count
        FROM (
            SELECT
            a.org_code,
            a.user_id,
            count(a.image_no) as image_count
            FROM
            fcm_customer_info a
            <where>
                <if test="orgCode != null and orgCode != ''">
                    AND a.org_code = #{orgCode}
                </if>
                <if test="userId != null and userId != ''">
                    AND a.user_id = #{userId}
                </if>
            </where>
            GROUP BY
            a.org_code,
            a.user_id
        ) b
    </select>

    <!-- 查询机构双录报表 -->
    <select id="qryOrgReport" resultMap="OrgReportResult">
        SELECT
        b.org_code,
        b.image_count
        FROM
        (
            SELECT
            a.org_code,
            count( a.image_no ) image_count
            FROM
            fcm_customer_info a
            <where>
                <if test="orgCode != null and orgCode != ''">
                    AND a.org_code = #{orgCode}
                </if>
            </where>
            GROUP BY
            a.org_code
        ) b
    </select>
</mapper>