<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.georsoft.business.mapper.UserMapper">

    <resultMap type="com.georsoft.common.core.domain.entity.UsrUsers" id="UserInfoResult">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="createDate" column="create_date"/>
        <result property="enableDate" column="enable_date"/>
        <result property="expireDate" column="expire_date"/>
        <result property="mobileNo" column="mobile_no"/>
        <result property="sex" column="sex"/>
        <result property="orgCode" column="org_code"/>
        <result property="loginStatus" column="login_status"/>
        <result property="stopFlag" column="stop_flag"/>
        <result property="email" column="e_mail"/>
        <result property="loginTime" column="last_login_time"/>
        <result property="changePwd" column="change_pwd"/>
        <result property="retryTime" column="retry_time"/>
        <result property="lockStatus" column="lock_status"/>
        <result property="orgClass" column="org_class"/>
        <result property="centerFlag" column="center_flag"/>
        <result property="loginNum" column="login_num"/>
        <result property="logoutTime" column="logout_time"/>
        <result property="viewIndex" column="view_index"/>
        <result property="typeCode" column="type_code"/>
        <result property="optId" column="opt_id"/>
        <result property="idCardNo" column="idcard_no"/>
        <result property="remark" column="remark"/>
        <result property="acceptEmail" column="accept_email"/>
        <result property="acceptSms" column="accept_sms"/>
        <result property="levelNo" column="level_no"/>
        <result property="importFlag" column="import_flag"/>
        <result property="fingerFlag" column="finger_flag"/>
        <result property="fullOrgCode" column="full_org_code"/>
        <result property="mobileNo1" column="mobile_no1"/>
        <result property="raLoginStatus" column="ra_login_status"/>
        <result property="raComputerIp" column="ra_computer_ip"/>
        <result property="partOrgCode" column="part_org_code"/>
    </resultMap>

    <!-- 查询产品列表 -->
    <select id="qryUserInfoByOrg" parameterType="String" resultMap="UserInfoResult">
        SELECT
            id,
            user_name,
            login_name,
            password,
            create_date,
            enable_date,
            expire_date,
            mobile_no,
            sex,
            org_code,
            login_status,
            stop_flag,
            e_mail,
            login_time,
            change_pwd,
            retry_time,
            lock_status,
            org_class,
            center_flag,
            login_num,
            logout_time,
            view_index,
            type_code,
            opt_id,
            idcard_no,
            remark,
            accept_email,
            accept_sms,
            level_no,
            import_flag,
            finger_flag,
            full_org_code,
            mobile_no1,
            ra_login_status,
            ra_computer_ip,
            part_org_code
        FROM
            usr_users
        WHERE
            org_code = #{currentOrgCode}
    </select>
</mapper>